<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="MargeDb" providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\db\marge.mdf;Initial Catalog=Marge;Integrated Security=True" />
  </connectionStrings>
</configuration>
