<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="MargeDb" providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\db\marge.mdf;Initial Catalog=Marge;Integrated Security=True" />
  </connectionStrings>
</configuration>