<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MargeDb" providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\db\marge.mdf;Initial Catalog=Marge;Integrated Security=True" />
  </connectionStrings>
</configuration>